#czmp-background {
    background-image: url('../assets/mescalito.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.czmp-desc{
    width: 90%;
}
.czmp-screenshots{
    width: 90%;
    border: 2px solid black;
}
.czmp-page-header{
    display: flex;
    justify-content: space-around;
}

.czmp-container{
    background: cornsilk;
}

.czmp-container *{
    color: black;
}

.advcn-header{
    background: #c9e7ca;
    width: 100%;
}

.advcn-header *{
    color: purple;
}

.cmcrm-header{
    background: #546DFF;
    width: 100%;
}

.cmcrm-header *{
    color: #212529;
}

.scqm-header{
    background: #198754;
    width: 100%;
}

.scqm-header *{
    color: white;
}

