#czmp-background {
    background-image: url('../assets/mescalito.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carabiner-img{
    width: 150px;
}

.czmp-page-header{
    display: flex;
    justify-content: space-around;
}

.czmp-page-content{
    display: flex;
    justify-content: space-around;
}

.czmp-container{
    background: navajowhite;
    opacity: 0.75;
}

.czmp-container *{
    font-weight: bold;
    color: firebrick
}
