<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>You have anchored into the czmud master point!</h1>
    <div class="czmp-page-content">
        <div class="czmp-col">
            <a href="http://52.201.238.8/">
                <img class="carabiner-img" src="../assets/carabiner-green.png" alt="green-carabiner">
                <h3>SCQuorum</h3>
                <p>Note... you will be directed to an external site</p>
            </a>
        </div>
        <div class="czmp-col">
            <a href="https://github.com/czmud/camCram">
                <img class="carabiner-img" src="../assets/carabiner-purple.png" alt="purple-carabiner">
                <h3>CamCram</h3>
                <p>Site not hosted yet - checkout Github repo in the meantime</p>
            </a>
        </div>
        <div class="czmp-col">
            <a href="https://github.com/czmud/adventureConnect">
                <img class="carabiner-img" src="../assets/carabiner-purple.png" alt="purple-carabiner">
                <h3>Adventure Connect</h3>
                <p>Site not hosted yet - checkout Github repo in the meantime</p>
            </a>
        </div>
    </div>
</body>
</html>